:root {
    --color-primary: rgb(185, 20, 80);
    --color-light-primary: rgb(183, 44, 92)
}

.style-text-color {
    color: var(--color-primary)
}

.style-background-color {
    background-color: var(--color-primary)
}

body {
    font-family: "Madimi One", sans-serif;
}

#app {
    background-image: url(../img/station.jpg);
    background-size: cover;
    height: 100vh;
}

/*navbar*/

.style-navbar-search-button {
    border-color: black;
}

.style-navbar-search-button:hover {
    background-color: var(--color-primary);
    color: white !important;
}

nav .style-img-container {
    width: 7%;
}

nav .active {
    color: var(--color-primary) !important;
}


nav .nav-item:hover {
    background-color: var(--color-primary);
    color: white !important;
}

nav .nav-item .nav-link:hover {
    color: inherit !important;
}

/*Ticket-form*/


label {
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
}

.style-ticket-container {
    max-width: 600px;
    margin-top: 100px;
}

.style-ticket-container {
    background-image: linear-gradient(to top, #f1efef, var(--color-primary));
}

#compile .btn:hover {
    background-color: var(--color-light-primary);
    transform: scale(1.2);
}


/*Ticker-response*/

#ticket-cost {
    background-image: url(../img/train.png);
    background-size: cover;
    height: 400px;
    position: relative;
    width: 195%;
    right: -100%;
}

.style-table-container {
    max-width: 600px;
}

#ticket-cost .table {
    --bs-table-bg: transparent;
    border: transparent;
}

.style-table-container {
    margin: 0 auto;
    padding-top: 75px;
}

.style-background-table {
    background-image: linear-gradient(to bottom, #e2e7eb, #c30d23);
    height: 80%;
}

.icon-container i:hover {
    transform: scale(1.5);
    cursor: pointer;
    color: rgb(190, 189, 188);
}